{{>header }}
<br />

<div class="container">
    <div class="row">
        {{#each phoneModels }}
        <div class="card col-4">
            <img id="img" src="{{ imageurl }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ model }}</h5>
                {{ brand }}
                <p class="card-text"></p>
                <form action="phones/compare" method="POST">
                    <input id="model" type="hidden" name="model" value="{{ model }}" />
                    <input id="image" type="hidden" name="image" value="{{ imageurl }}" />
                    <a class="btn btn-primary" style="color: white" onclick="this.parentNode.submit()">Select</a>
                </form>
            </div>
        </div>
        {{/each}}
    </div>
</div>